@font-face {
  font-family: "iconfont"; /* Project id 3826856 */
  src: url('iconfont.woff2?t=1674911426550') format('woff2'),
       url('iconfont.woff?t=1674911426550') format('woff'),
       url('iconfont.ttf?t=1674911426550') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-yueliang:before {
  content: "\e63e";
}

.icon-taiyang-copy:before {
  content: "\eb9e";
}

.icon-yueliang-copy:before {
  content: "\eb9f";
}

.icon-guanbi1:before {
  content: "\e604";
}

.icon-liebiao:before {
  content: "\e603";
}

.icon-liebiao-copy:before {
  content: "\eb9d";
}

.icon-iconfontzhizuobiaozhun023126:before {
  content: "\e680";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-iconfontzhizuobiaozhun023126-copy:before {
  content: "\eb9a";
}

.icon-iconfontzhizuobiaozhun023126-copy1:before {
  content: "\eb9b";
}

.icon-jiantouyou-copy:before {
  content: "\eb9c";
}

.icon-kulian:before {
  content: "\e634";
}

.icon-kulian-copy:before {
  content: "\eb99";
}

.icon-guanbi:before {
  content: "\e617";
}

.icon-guanbi-copy:before {
  content: "\eb98";
}

.icon-seach:before {
  content: "\e624";
}

.icon-seach-copy:before {
  content: "\eb97";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-yanjing-copy:before {
  content: "\eb96";
}

.icon-loading:before {
  content: "\e756";
}

.icon-jiazai:before {
  content: "\e671";
}

.icon-xuanxiang:before {
  content: "\e6a9";
}

.icon-xuanxiang-copy:before {
  content: "\eb95";
}

.icon-jiantou_yemian_xiangyou_o:before {
  content: "\eb93";
}

.icon-jiantou_yemian_xiangyou_o-copy:before {
  content: "\eb94";
}

.icon-wenjianjia:before {
  content: "\e602";
}

.icon-wenjianjia-copy:before {
  content: "\eb42";
}

.icon-rili:before {
  content: "\e601";
}

.icon-riqi:before {
  content: "\e636";
}

.icon-rili1:before {
  content: "\e620";
}

.icon-jiaofuriqi:before {
  content: "\e667";
}

.icon-24gf-calendar:before {
  content: "\eb40";
}

.icon-jiaofuriqi-copy:before {
  content: "\eb41";
}

.icon-jurassic_user:before {
  content: "\e6a5";
}

.icon-jurassic_user-copy:before {
  content: "\e8bf";
}

.icon-yonghufill:before {
  content: "\e787";
}

.icon-yonghufill-copy:before {
  content: "\e8be";
}

.icon-yingyongzhongxin:before {
  content: "\e600";
}

.icon-xiangce:before {
  content: "\e7f1";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-tidangan:before {
  content: "\e60b";
}

.icon-24gf-tags3:before {
  content: "\e886";
}

.icon-tidangan-copy:before {
  content: "\e8ba";
}

.icon-yingyongzhongxin-copy:before {
  content: "\e8bb";
}

.icon-xiangce-copy:before {
  content: "\e8bc";
}

.icon-shouye-copy:before {
  content: "\e8bd";
}

